<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385003370337-qhrf3s3i8r9ljg6t4oa4od2d09jcmvqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385003370337-qhrf3s3i8r9ljg6t4oa4od2d09jcmvqm</string>
	<key>API_KEY</key>
	<string>AIzaSyBqIRg1M8mBvtNiqdYMM2J7ye8U8XY5orM</string>
	<key>GCM_SENDER_ID</key>
	<string>385003370337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.esantrenInsightsV1</string>
	<key>PROJECT_ID</key>
	<string>e-santren</string>
	<key>STORAGE_BUCKET</key>
	<string>e-santren.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385003370337:ios:56b08f78856cf209d47720</string>
</dict>
</plist>